body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1e1e1e; /* Dark mode background color */
  color: #ffffff; /* Text color for dark mode */
  font-family: 'Arial', sans-serif;
}
.page-container {
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
}
.page-header {
  position: sticky;
  top: 0;
  z-index: 1; /* Ensure it's above other elements */
  width: 100%;
  padding: 10px 0;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ff79c6; /* Main text color (Dracula Pink) */
}
.ewallet-item, .rekening-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 15px;
  border-radius: 10px;
}
.ewallet-image, .rekening-image {
  width: 120px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ewallet-image img, .rekening-image img {
  max-width: 120px;
  max-height: 50px;
}
.ewallet-info, .rekening-info {
  flex: 1;
  margin-left: 10px;
  color: #ffffff; /* Text color for dark mode */
}
.copy-button {
  background-color: #ff79c6; /* Magenta color */
  color: #ffffff; /* Text color for the button */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.ui.cards {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  flex: 0 0 40%;
  margin: 10px;
}

@media (max-width: 768px) {
  .ewallet-item, .rekening-item {
    flex-direction: column;
  }
  .ewallet-image, .rekening-image {
    width: 80px;
    height: 80px;
  }
  .ewallet-image img, .rekening-image img {
    max-width: 80px;
    max-height: 80px;
  }
  .ewallet-info, .rekening-info {
    text-align: center;
    margin: 10px 0;
  }
  .card {
    flex: 0 0 80%;
  }
}